h1 {
    color: crimson;
}
h2 {
    color: rgb(223, 74, 5);
    background-color: white;
    width: 500px;
}
#container-estoque {
    background-color: rgb(100, 172, 240);
}
#container-home {
    background-image: url("./images/patas1.png");
    background-repeat: repeat;
    background-attachment: scroll;
 
   
}
body{
    margin: auto auto;

}
center h1 {
    margin: 0;
    padding-top: 35px;
    font-size: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    padding-bottom: 15px;
   

}
.app-bar a{
    margin: 20px 20px;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 10px;

  
}
.app-bar a:hover{
    color:black;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.app-bar {
    margin-top: 8px;
    
}
footer {
       background-color: black;
       margin: 20px 0px 0px 0px;
       height: 80px;


}
footer h3 {
    color: white;
    margin: 0;
    text-align: center;
    height: 40px;


}
#icons {
    display: flex;
    justify-content: center;
}
#icons a i{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    color: rosybrown;
    font-size: 28px;
}