h1 {
    color: crimson;
}
h2 {
    color: rgb(223, 74, 5);
    background-color: white;
    width: 500px;
}


.container-home {
    background-image: url("./images/patas1.png");
    background-repeat: repeat;
    background-attachment: scroll;
 
   
}
body{
    margin: auto auto;

}
center h1 {
    margin: 0;
    padding-top: 35px;
    font-size: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    padding-bottom: 15px;
   

}
.app-bar a{
    margin: 20px 20px;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 10px;

  
}
.app-bar a:hover{
    color:black;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.app-bar {
    margin-top: 8px;
    
}
footer {
       background-color: black;
       margin: 20px 0px 0px 0px;
       height: 80px;


}
footer h3 {
    color: white;
    margin: 0;
    text-align: center;
    height: 40px;


}
#icons {
    display: flex;
    justify-content: center;
}
#icons a i{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    color: rosybrown;
    font-size: 28px;
}
#vendas {
  text-align: center;
  color: rgb(5, 0, 12);
  background-color: lightgrey;
}
.vendas1 {
    text-align: center;
    font-weight: bold;
    
}
#tabela-his {
    
    width: 800px;
    text-align: left;
    background-color: lightgrey;
    font-weight: bold;
    border: 2px solid black;
}
#historico {
    display: block;
    width: 800px;
    margin: auto;
  
}

#busca {
    text-align: center;
    height: 85vh;
    font-weight: bold;
}
#controle-tabela {
    text-align: left;   
    border: 2px solid black;
    width: 800px;
    margin: 100px auto;

  
}
#controle-tabela th {
    width: 200px;
    background-color: lightgrey;
    border: 2px solid black;
    text-align: center;

}
#controle-tabela td {
    border-bottom: 2px solid black;
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
}
#formulario {
    height: 100px;
    font-weight: bold;
   
}
#formulario label {
    background-color: lightgrey;
}
#foto {
    width: 600px;
    height: 400px;
    
}
#conteiner-foto {
    display: flex;
    justify-content: flex-end;
    margin: 0px 150px;
   
}
#foto-venda img {
    margin-top: 50px;
}
#func {
    height: 520px;
    font-size: 26px;
}
#fu {
    width: 20px;
}
    

